.banner {
  align-items: center;
  background:#cecece;
  background-image: linear-gradient(to bottom, rgba(36, 42, 66, .65), rgba(36, 42, 66, .65)), url("https://images.unsplash.com/photo-1459749411175-04bf5292ceea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  height: 70vh;
  justify-content: center;
  padding: 1em;
  text-align: center;
  width: 100vw;
}

.banner_text {
  border-radius: 8px;
  padding: 1em;
}

.banner_text h1 {
  font-size: 3em;
}

.banner_text p {
  font-size: 1.8em;
  margin-bottom: 1.5em;
}
