/* Index page cards */
.cards_grid-index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  padding: 1em;
}

.index_card {
  border-radius: 4px;
  border: solid 1px;
  height: 30vh;
  text-align: center;
  width: 30vw;
}

.index_card h4 {
  font-size: 1.5em;
}

/* Artists page Cards */
.artist_card {
  align-items: center;
  background: white;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  height: 20vh;
  margin-bottom: 1em;
  overflow: hidden;
  padding-right: 1em;
  width: 100%;
}

.artist_card img {
  height: 100%;
  object-fit: cover;
  width: 120px;
}

.artist_card-links {
  display: flex;
}

.artist_card-links a {
  color: black;
  font-size: 1.5em;
  margin: 1em;
}

.artist_card-infos {
  margin: 1em 1.5em;
  text-align: center;
}

.artist_card-infos h2 {
  margin: 0;
  margin-top: 1em;
}

/* artist info page cards */

.suggestion_cards-section {
  display: flex;
  justify-content: space-between;
}

.similar_artist_card {
  border: solid 1px;
  border-radius: 4px;
  padding: 2em;
}

/* Venue cards */
.venue_card {
  overflow: hidden;
  height: 20vh;
  width: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.venue_card img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.venue_card h2 {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
}

.venue_card p {
  font-size: 0.8em;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 0.7em;
}

.venue_card-infos {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
