<div class="venue-section">
  <h1>Venues</h1>
  <div class="cards">
  <% @all_venues.each do |venue| %>
    <div class="card-product">
      <img src="<%= venue.image %>" />
      <div class="card-product-infos">
        <h2><%= venue.name %></h2>
        <p><%= venue.street_address %>, <%= venue.postcode %></p>
        <a class="btn-link" href="#">See what's on</a>
      </div>
    </div>
  <% end %>
  </div>
</div>
