<div class="index-container">
  <div class="banner">
    <div class="banner_text">
      <h1>Concert Tracker</h1>
      <p>Find concerts near you</p>
      <a href="#" class="btn_banner">Search</a>
    </div>
  </div>
</div>

  <div class="cards_grid-index">

    <div class="index_card">
      <h4>Artists</h4>
      <a href="/artists" class="btn_index_card">
        <i class="fa-solid fa-music"></i>
      </a>
    </div>

     <div class="index_card">
      <h4>Venues</h4>
      <a href="#" class="btn_index_card">
        <i class="fa-solid fa-building-columns"></i>
      </a>
    </div>

    <div class="index_card">
      <h4>Genres</h4>
      <a href="#" class="btn_index_card">
        <i class="fa-solid fa-list"></i>
      </a>
    </div>

  </div>
