/* Component Imports */
@import url("./components/banner.css");
@import url("./components/button.css");
@import url("./components/card.css");
@import url("./components/nav.css");

/* Page imports */
@import url("./pages/artists.css");

body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
}

.index-container {
  display: flex;
  width: auto;
}


.venue-section {
  width: 60vw;
  background-color: rgba(200, 200, 200, 0.2);
  padding: 1em;
  border-radius: 15px;
}

.venue-section > div {
  display: flex;
  flex-wrap: wrap;
}
