.card-product {
  overflow: hidden;
  height: 20vh;
  width: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 0.8em;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 0.7em;
}

.card-product .card-product-infos {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
