.artist_card {
  overflow: hidden;
  height: 20vh;
  width: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.artist_card img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.artist_card-links {
  display: flex;
}

.artist_card-links a {
  color: black;
  font-size: 1.5em;
  margin: 1em;
}

.artist_card-infos {
  margin: 1em 1.5em;
}

.artist_card-infos h2 {
  margin: 0;
  margin-top: 1em;
}



/* Venue cards */
.venue_card {
  overflow: hidden;
  height: 20vh;
  width: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.venue_card img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.venue_card h2 {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
}

.venue_card p {
  font-size: 0.8em;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 0.7em;
}

.venue_card-infos {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
